
<mat-card>
<div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
<div class="container">
  <h1 class="h3 mb-3 font-weight-normal text-center">Sign in</h1>
  <div class="offset-md-4 col-md-4">
    <label for="email" class="sr-only">Email</label>
  <input type="email" id="email" class="form-control" placeholder="Email address" name="email" [(ngModel)]="email" required autofocus>
  </div>
  <div class="offset-md-4 mt-4 col-md-4">
    <label for="password" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required>
  </div>
  <div class="offset-md-4 mt-4 col-md-4">
    <button (click)=handleJWTAuthLogin() class="btn btn-lg btn-primary btn-block">Sign in</button>
  </div>
  <p class="mb-3 text-muted text-center">&copy; 2019</p>
</div>
</mat-card>