<!--The content below is only a placeholder and can be replaced.-->
<app-main-nav>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div [ngClass]="getnavlist()?'col-md-10':'col-md-12'">
                <router-outlet></router-outlet>
            </div>
            <div *ngIf="getnavlist()" [ngClass]="getnavlist()?'col-md-2':'col-md-0'" class="d-flex justify-content-center">
                <app-rightsidenav></app-rightsidenav>
            </div>
        </div>
    </div>
</app-main-nav>
<app-footer></app-footer>

