<div *ngIf="getnavlist()" class="row justify-content-center bg-white right-nav">
  <div class="col-md-12">
      <ul class="list-unstyled">
        <li><button mat-raised-button color="primary" [routerLink]="['/inputsettings', datalist[0], datalist[1], id]">Input Settings</button></li>
        <li><button mat-raised-button color="primary" [routerLink]="['/outputsettings', datalist[0], datalist[1], id]">Output Settings</button></li>
        <li><button mat-raised-button color="primary" [routerLink]="['/batterysettings', datalist[0], datalist[1], id]">Battery Settings</button></li>
        <li><button mat-raised-button color="primary" [routerLink]="['/cabinetsettings', datalist[0], datalist[1], id]">cabinate Settings</button></li>
      </ul>
  </div>
</div>