<div *ngIf="!datalist.length == 0" class="row justify-content-center bg-white right-nav">
  <div class="col-md-12">
      <ul class="list-unstyled">
        <li><button mat-raised-button color="primary" routerLink="/inputsettings">Input Settings</button></li>
        <li><button mat-raised-button color="primary" routerLink="/outputsettings">Output Settings</button></li>
        <li><button mat-raised-button color="primary" routerLink="/batterysettings">Battery Settings</button></li>
        <li><button mat-raised-button color="primary" routerLink="/cabinetsettings">cabinate Settings</button></li>
      </ul>
  </div>
</div>