<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <div *ngFor="let list of lists" class="col mt-5 pt-5">
                <div ngbDropdown class="d-inline-block">
                  <button (click)="getadslist(list.id)" class="btn btn-warning" id="dropdownBasic1" ngbDropdownToggle>{{list.name}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button *ngFor="let ads of adslists" ngbDropdownItem>{{ads.name}}</button>
                    <button *ngIf="adslists.length == 0" ngbDropdownItem>No Record</button>
                  </div>
                </div>
              </div>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Main Dashboard</h1>
                    <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>